<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Dream Section</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-registration m-3">
    <div class="d-flex justify-content-between text-nowrap">
        <div class="d-flex justify-content-around">
            <a href="/menu" class="btn-registration">Return To Main Menu</a>
        </div>
    </div>
    <div class="d-flex text-center justify-content-center">
        <div>
            <h5>Record your dream here</h5>
            <div id="border">
                <form action="/update/dream" method="post">
                    {% with messages = get_flashed_messages(category_filter=['dream']) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>You made a mistake. Launch Sequence Initiated in 5.4.3.2.1</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="d-flex justify-content-center">
                        <input type="hidden" name="id" value={{edit.id}}>
                        <div class="form-group">
                            <textarea placeholder="Start typing..." name="dream" rows="4"
                                cols="50">{{edit.dream}}</textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <input placeholder="First Name" type="text" value="{{edit.first_name}}" name="first_name"
                                class="form-control-sm">
                        </div>
                        <div class="form-group">
                            <input placeholder="Last Name" type="text" value="{{edit.last_name}}" name="last_name"
                                class="form-control-sm">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <input type="datetime-local" value="{{edit.date_of_dream}}" name="date_of_dream"
                                class="form-control-sm">
                        </div>
                        <div>
                            <div class="form-group">
                                <div>
                                    <input type="text" value="{{edit.type_of_dream}}" name="type_of_dream"
                                        class="form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-1">
                        <input type="submit" value="Finalize Entry of Dream" class="btn-registration">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>