<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-registration m-3">
    <div>
        <a href="/new/dream" class="btn-registration">Record Your Dream</a>
    </div>
    <div>
        <h5 class="d-flex justify-content-center m-3">Chronicle of Dreams</h5>
    </div>
    <div class="align">
        <table id="border" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Dream</th>
                </tr>
            </thead>
            <tbody>
                {% for dream in dreams %}
                <tr>
                    <td>{% if dream.user_id == session.user_id %}
                        {{user.first_name}} {{user.last_name}}
                        {% else %}
                        {{dream.first_name}} {{dream.last_name}}
                        {% endif %}
                    </td>
                    <td>{{ dream.date_of_dream.strftime("%B,%d,%Y") }}</td>
                    <td>{{ dream.type_of_dream}}</td>
                    <td>
                        <a href="/dream/{{dream.id}}">View</a>
                        {% if dream.user_id == session.user_id %}
                        <a href="/edit/dream/{{dream.id}}">Edit</a>
                        <a href="/destroy/dream/{{dream.id}}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <a href="/logout" class="btn-registration">Logout</a>
    </div>
</body>

</html>