<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Dream Section</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-registration m-3">
    <div class="d-flex justify-content-between text-nowrap">
        <div class="d-flex justify-content-around">
            <a href="/menu" class="btn-registration">Return To Main Menu</a>
        </div>
    </div>
    <div class="d-flex text-center justify-content-center">
        <div>
            <h5>Record your dream here</h5>
            <div id="border">
                <form action="/record/dream" method="post">
                    {% with messages = get_flashed_messages(category_filter=['dream']) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>You made a mistake. Launch Sequence Initiated in 5.4.3.2.1</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="d-flex justify-content-center">
                        <div class="form-group">
                            <textarea placeholder="Start typing..." name="dream" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <input placeholder="First Name" type="text" name="first_name" class="form-control-sm">
                        </div>
                        <div class="form-group">
                            <input placeholder="Last Name" type="text" name="last_name" class="form-control-sm">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <input type="datetime-local" name="date_of_dream" class="form-control-sm">
                        </div>
                        <div>
                            <div class="form-group">
                                <div>
                                    <select class=form-control-sm name="type_of_dream">
                                        <option value="" disabled selected hidden>Choose a Type</option>
                                        <option value="Weird">Weird</option>
                                        <option value="Awesome">Awesome</option>
                                        <option value="Scary">Scary</option>
                                        <option value="Interesting">Interesting</option>
                                        <option value="Bizarre">Bizarre</option>
                                        <option value="Vivid">Vivid</option>
                                        <option value="Cognitive">Cognitive</option>
                                        <option value="Emotional">Emotional</option>
                                        <option value="Lucid">Lucid</option>
                                        <option value="Sleep Paralysis">Sleep Paralysis</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-1">
                        <input type="submit" value="Finalize Entry of Dream" class="btn-registration">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>